{% extends "base.html" %} {% load static %} {% block page_content %}
<style>
  h1 {
    color: white;
  }

  .decada-container {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  .decada-button {
    border-radius: 20px;
    color: white;
    padding: 10px 20px;
    margin: 5px;
    font-weight: bold;
    border: none;
    width: 140px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .btn-1980 {
    background-color: #8a2be2;
  } /* Purple */
  .btn-1990 {
    background-color: #ffa500;
  } /* Orange */
  .btn-2000 {
    background-color: #941376;
  } /* cereza */
  .btn-2010 {
    background-color: #8bc34a;
  } /* Lime Green */
  .btn-2020 {
    background-color: #a00000;
  } /* Dark Red */
  .btn-all {
    background-color: #b22222;
  } /* Firebrick Red */
</style>
<main>
  <h1>Decadas</h1>
  <div class="decada-container">
    <button type="button" class="decada-button btn-1980">1980</button>
    <button type="button" class="decada-button btn-1990">1990</button>
    <button type="button" class="decada-button btn-2000">2000</button>
    <button type="button" class="decada-button btn-2010">2010</button>
    <button type="button" class="decada-button btn-2020">2020</button>
    <button type="button" class="decada-button btn-all">Show All</button>
  </div>
</main>
<script></script>
{% endblock %}
