{% extends "base.html" %} {% load static %} {% block page_content %}
<style>
  h1 {
    color: white;
  }

  /* Apply the same styling as genre-container */
  .decada-container {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  .decada-button {
    border-radius: 20px;
    color: white;
    padding: 10px 20px;
    margin: 5px;
    font-weight: bold;
    border: none;
    width: 140px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .btn-1980 {
    background-color: #8a2be2;
  } /* Purple */
  .btn-1990 {
    background-color: #ffa500;
  } /* Orange */
  .btn-2000 {
    background-color: #941376;
  } /* cereza */
  .btn-2010 {
    background-color: #8bc34a;
  } /* Lime Green */
  .btn-2020 {
    background-color: #a00000;
  } /* Dark Red */
  .btn-all {
    background-color: #b22222;
  } /* Firebrick Red */
</style>
<main>
  <div class="container">
    <h1>Décadas</h1>
          <p>Seleccioná una década para ver los juegos.</p>
    <div class="decada-container">
      <a href="?decada=1980"
        ><button type="button" class="decada-button btn-1980">
          1980
        </button></a
      >
      <a href="?decada=1990"
        ><button type="button" class="decada-button btn-1990">
          1990
        </button></a
      >
      <a href="?decada=2000"
        ><button type="button" class="decada-button btn-2000">
          2000
        </button></a
      >
      <a href="?decada=2010"
        ><button type="button" class="decada-button btn-2010">
          2010
        </button></a
      >
      <a href="?decada=2020"
        ><button type="button" class="decada-button btn-2020">
          2020
        </button></a
      >
    </div>
    {% if page_obj %}
    <div id="games-container" class="cards-container" style="margin-top: 40px">
      {% for juego in page_obj %}
      <div class="card">
        <a href="{% url 'detalle_juego' juego_id=juego.id %}" class="card-link">
          <img
            src="{% if juego.Image_URL %}{{ juego.Image_URL }}{% else %}{% static 'img/tech_diff.png'%}{% endif %}"
            alt="Portada de {{juego.Name}}"
          />
          <div class="card-info">
            <h2>{{juego.Name}}</h2>
            <p><strong>Año:</strong> {{juego.Year}}</p>
            <p><strong>Género:</strong> {{juego.Genre}}</p>
            <p><strong>Plataforma:</strong> {{juego.Platform}}</p>
          </div>
        </a>
      </div>
      {% endfor %} {% else %}
      {% endif %}
    </div>
    {% if page_obj.has_other_pages %}
    <div class="pagination">
      {% if page_obj.has_previous %}
      <a href="?decada={{ decada_actual }}&page=1">Primera</a>
      <a href="?decada={{ decada_actual }}&page={{ page_obj.previous_page_number }}"
        >{{ page_obj.previous_page_number }}</a
      >
      {% endif %}
      <span>Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</span>

      {% if page_obj.has_next %}
      <a href="?decada={{ decada_actual }}&page={{ page_obj.next_page_number }}"
        >{{ page_obj.next_page_number }}</a
      >
      <a href="?decada={{ decada_actual }}&page={{ page_obj.paginator.num_pages }}"
        >Última</a
      >
      {% endif %}
    </div>
    {% endif %}
  </div>
</main>
{% endblock %}