{% extends "base.html" %} {% block page_content %} {% load static %}
<body>
 
  <div class="container">
    <h1>Géneros</h1>
            <p>Seleccioná un género para ver los juegos.</p>
    <div class="genre-container">
      <a href="?genero=Action">
        <button
        type="button"
        data-genre="Action"
        class="btn genre-button btn-accion"
      >
        Acción
        </button>
      </a>
      <a href="?genero=Platform">
        <button
        type="button"
        data-genre="Platform"
        class="btn genre-button btn-plataforma"
        >
        Plataforma
        </button>
      </a>
      <a href="?genero=Racing">
        <button
        type="button"
        data-genre="Racing"
        class="btn genre-button btn-carreras"
        >
        Carreras
        </button>
      </a>
      <a href="?genero=Role-Playing">
        <button
        type="button"
        data-genre="Role-Playing"
        class="btn genre-button btn-rpg"
        >
        RPG
        </button>
      </a>
      <a href="?genero=Fighting">
        <button
        type="button"
        data-genre="Fighting"
        class="btn genre-button btn-lucha"
        >
        Lucha
        </button>
      </a>
    </div>
    <div class="genre-container">
      <a href="?genero=Shooter">
        <button
        type="button"
        data-genre="Shooter"
        class="btn genre-button btn-shooter"
        >
        Shooter
        </button>
      </a>
      <a href="?genero=Strategy">
        <button
        type="button"
        data-genre="Strategy"
        class="btn genre-button btn-estrategia"
        >
        Estrategia
        </button>
      </a>
      <a href="?genero=Simulation">
        <button
        type="button"
        data-genre="Simulation"
        class="btn genre-button btn-simulador"
        >
        Simulador
        </button>
      </a>
      <a href="?genero=Sports">
        <button
        type="button"
        data-genre="Sports"
        class="btn genre-button btn-deportes"
        >
        Sports
        </button>
      </a>
      <a href="?genero=Puzzle">
        <button
        type="button"
        data-genre="Puzzle"
        class="btn genre-button btn-rompecabezas"
        >
        Rompecabezas
        </button>
      </a>
    </div>
    <div class="genre-container">
      <a href="?genero=Adventure">
        <button
        type="button"
        data-genre="Adventure"
        class="btn genre-button btn-aventura"
        >
        Aventura
        </button>
      </a>
      <a href="?genero=Misc">
        <button type="button" data-genre="Misc" class="btn genre-button btn-misc">
        Misc
        </button>
      </a>
    </div>
  </div>
  <style>
    #off {
      display: none;
    }
  </style>
  <main>
    {% if page_obj %}
    <div id="games-container" class="cards-container" style="margin-top: 40px">
      {% for juego in page_obj %}
      <div class="card">
        <a href="{% url 'detalle_juego' juego_id=juego.id %}" class="card-link">
        <img
          src="{% if juego.Image_URL %}{{ juego.Image_URL }}{% else %}{% static 'img/tech_diff.png'%}{% endif %}"
          alt="Portada de {{juego.Name}}"
        />
        <div class="card-info">
          <h2>{{juego.Name}}</h2>
          <p><strong>Año:</strong> {{juego.Year}}</p>
          <p><strong>Género:</strong> {{juego.Genre}}</p>
          <p><strong>Plataforma:</strong> {{juego.Platform}}</p>
        </div>
        </a>
      </div>
      {% endfor %}
      {% else %}

      {% endif %}
    </div>
    {% if page_obj.has_other_pages %}
    <div class="pagination">
        {% if page_obj.has_previous %}
          <a href="?genero={{ genero_actual }}&page=1">Primera</a>
          <a href="?genero={{ genero_actual }}&page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
        {% endif %}
        <span>Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</span>

        {% if page_obj.has_next %}
          <a href="?genero={{ genero_actual }}&page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
          <a href="?genero={{ genero_actual }}&page={{ page_obj.paginator.num_pages }}">Última</a>
        {% endif %}
      </div>
    {% endif %}
  
  </main>
  <script>
    const genreButtons = document.querySelectorAll(".genre-button"); // <-- importante
    const loadMoreBtn = document.getElementById("load-more"); // <-- importante
    const cards = document.querySelectorAll("#games-container .card");
    const blockSize = 5;

    let currentIndex = 0;
    let selectedGenre = null;

    function hideAllCards() {
      cards.forEach((card) => (card.style.display = "none"));
    }

    function showCardsForGenre(genre) {
      const filteredCards = Array.from(cards).filter(
        (card) => card.dataset.genre === genre
      );

      hideAllCards();
      currentIndex = 0;

      for (let i = 0; i < blockSize && i < filteredCards.length; i++) {
        filteredCards[i].style.display = "block";
      }

      currentIndex += blockSize;
      selectedGenre = genre;
    }

    function loadMoreCards() {
      if (!selectedGenre) return;

      const filteredCards = Array.from(cards).filter(
        (card) => card.dataset.genre === selectedGenre
      );

      for (
        let i = currentIndex;
        i < currentIndex + blockSize && i < filteredCards.length;
        i++
      ) {
        filteredCards[i].style.display = "block";
      }

      currentIndex += blockSize;
    }

    genreButtons.forEach((btn) => {
      btn.addEventListener("click", (e) => {
        const genre = e.target.dataset.genre;
        showCardsForGenre(genre);
      });
    });

    loadMoreBtn.addEventListener("click", loadMoreCards);
  </script>

  <style>

    .genre-container {
      margin-top: 20px;
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
    }
    .genre-button {
      border-radius: 20px;
      color: white;
      padding: 10px 20px;
      margin: 5px;
      font-weight: bold;
      border: none;
      width: 140px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .btn-accion {
      background-color: #8a2be2;
    } /* Purple */
    .btn-plataforma {
      background-color: #ffa500;
    } /* Orange */
    .btn-carreras {
      background-color: #3366cc;
    } /* Dark Blue */
    .btn-rpg {
      background-color: #8bc34a;
    } /* Lime Green */
    .btn-lucha {
      background-color: #333333;
    } /* Dark Gray */
    .btn-shooter {
      background-color: #b22222;
    } /* Firebrick Red */
    .btn-estrategia {
      background-color: #4caf50;
    } /* Green */
    .btn-simulador {
      background-color: #9370db;
    } /* Medium Purple */
    .btn-deportes {
      background-color: #20b2aa;
    } /* Light Sea Green */
    .btn-rompecabezas {
      background-color: #1a5222;
    } /* Darker Green */
    .btn-aventura {
      background-color: #a00000;
    } /* Dark Red */
    .btn-misc {
      background-color: #008cba;
    } /* Blue */
    .btn-all {
      background-color: #941376;
    } /* Cereza */
  </style>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
{% endblock %}
