{% extends "base.html" %}
{% load static %}
{% block page_content %}

<style>

</style>
<main>

      <div id="games-container" class="cards-container">
        {% for juego in page_obj %}
        <div class="card">
        <a href="{% url 'detalle_juego' juego_id=juego.id %}" class="card-link">
          <img src= "{% if juego.Image_URL %}{{ juego.Image_URL }}{% else %}{% static 'img/tech_diff.png'%}{% endif %}" 
            alt="Portada de {{juego.Name}}" />
            <div class="card-info">
              <h2>{{juego.Name}}</h2>
              <p><strong>Año:</strong> {{juego.Year}}</p>
              <p><strong>Género:</strong> {{juego.Genre}}</p>
              <p><strong>Plataforma:</strong> {{juego.Platform}}</p>
            </div>
        </div></a>
        {% endfor %}
      </div>
      <div class="pagination">
        {% if page_obj.has_previous %}
          <a href="?page=1">Primera</a>
          <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
        {% endif %}
        <span>Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</span>

        {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}">Siguiente</a>
          <a href="?page={{ page_obj.paginator.num_pages }}">Última</a>
        {% endif %}
      </div>

</main>
    
{% endblock %}