{% extends "base.html" %} {% load static %} {% block page_content %}
<style>
  h1 {
    color: aquamarine;
  }
</style>
<main>
  <h1>Plataformas</h1>
  <button type="button">2600</button>
  <button type="button">3DO</button>
  <button type="button">3DS</button>
  <button type="button">DC</button>
  <button type="button">DS</button>
  <button type="button">GB</button>
  <button type="button">GBA</button>
  <button type="button">GC</button>
  <button type="button">GEN</button>
  <button type="button">GG</button>
  <button type="button">N64</button>
  <button type="button">NES</button>
  <button type="button">NG</button>
  <button type="button">PC</button>
  <button type="button">PCFX</button>
  <button type="button">PS</button>
  <button type="button">PS2</button>
  <button type="button">PS3</button>
  <button type="button">PS4</button>
  <button type="button">PSP</button>
  <button type="button">PSV</button>
  <button type="button">SAT</button>
  <button type="button">SCD</button>
  <button type="button">SNES</button>
  <button type="button">TG16</button>
  <button type="button">WS</button>
  <button type="button">Wii</button>
  <button type="button">WiiU</button>
  <button type="button">X360</button>
  <button type="button">XB</button>
  <button type="button">XOne</button>

  <script></script>
  {% endblock %}
</main>
