{% extends "base.html" %} {% load static %} {% block page_content %}
<style>

  h1 {
    color: white;
  }

  .platform-container {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  .platform-button {
    border-radius: 20px;
    color: white;
    padding: 10px 20px;
    margin: 5px;
    font-weight: bold;
    border: none;
    width: 140px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .btn-1 {
    background-color: #8a2be2;
  } /* Purple */
  .btn-2 {
    background-color: #ffa500;
  } /* Orange */
  .btn-3 {
    background-color: #3366cc;
  } /* Dark Blue */
  .btn-4 {
    background-color: #8bc34a;
  } /* Lime Green */
  .btn-5 {
    background-color: #333333;
  } /* Dark Gray */
  .btn-6 {
    background-color: #b22222;
  } /* Firebrick Red */
  .btn-7 {
    background-color: #4caf50;
  } /* Green */
  .btn-8 {
    background-color: #9370db;
  } /* Medium Purple */
  .btn-9 {
    background-color: #20b2aa;
  } /* Light Sea Green */
  .btn-10 {
    background-color: #1a5222;
  } /* Darker Green */
  .btn-11 {
    background-color: #a00000;
  } /* Dark Red */
  .btn-12 {
    background-color: #008cba;
  } /* Blue */
  .btn-13 {
    background-color: #941376;
  } /* Cereza */
</style>
<main>
  <div class="container">
  <h1>Plataformas</h1>
  <div class="platform-container">
    <button type="button" class="platform-button btn-1">2600</button>
    <button type="button" class="platform-button btn-2">3DO</button>
    <button type="button" class="platform-button btn-3">3DS</button>
    <button type="button" class="platform-button btn-4">DC</button>
    <button type="button" class="platform-button btn-5">DS</button>
    <button type="button" class="platform-button btn-6">PS</button>
    <button type="button" class="platform-button btn-7">PS2</button>
    <button type="button" class="platform-button btn-8">GB</button>
    <button type="button" class="platform-button btn-9">GBA</button>
    <button type="button" class="platform-button btn-10">GC</button>
    <button type="button" class="platform-button btn-11">GEN</button>
    <button type="button" class="platform-button btn-12">GG</button>
    <button type="button" class="platform-button btn-13">PS3</button>
    <button type="button" class="platform-button btn-1">PS4</button>
    <button type="button" class="platform-button btn-2">N64</button>
    <button type="button" class="platform-button btn-3">NES</button>
    <button type="button" class="platform-button btn-4">NG</button>
    <button type="button" class="platform-button btn-5">PC</button>
    <button type="button" class="platform-button btn-6">PCFX</button>
    <button type="button" class="platform-button btn-7">PSP</button>
    <button type="button" class="platform-button btn-8">PSV</button>
    <button type="button" class="platform-button btn-9">SAT</button>
    <button type="button" class="platform-button btn-10">SCD</button>
    <button type="button" class="platform-button btn-11">SNES</button>
    <button type="button" class="platform-button btn-12">TG16</button>
    <button type="button" class="platform-button btn-13">WS</button>
    <button type="button" class="platform-button btn-1">Wii</button>
    <button type="button" class="platform-button btn-2">WiiU</button>
    <button type="button" class="platform-button btn-3">X360</button>
    <button type="button" class="platform-button btn-4">XB</button>
    <button type="button" class="platform-button btn-5">XOne</button>
    <button type="button" class="platform-button btn-6">Show All</button>
  </div>
  </div>
  <script></script>
  {% endblock %}
</main>
