{% extends "base.html" %} {% load static %} {% block page_content %}
<style>
  h1 {
    color: aquamarine;
  }

  .platform-container {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  .platform-button {
    border-radius: 20px;
    color: rgb(232, 70, 70);
    padding: 10px 20px;
    margin: 5px;
    font-weight: bold;
    border: none;
    width: 140px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>
<main>
  <h1>Plataformas</h1>
  <div class="platform-container">
    <button type="button" class="platform-button">2600</button>
    <button type="button" class="platform-button">3DO</button>
    <button type="button" class="platform-button">3DS</button>
    <button type="button" class="platform-button">DC</button>
    <button type="button" class="platform-button">DS</button>
    <button type="button" class="platform-button">PS</button>
    <button type="button" class="platform-button">PS2</button>
  </div>
  <div class="platform-container">
    <button type="button" class="platform-button">GB</button>
    <button type="button" class="platform-button">GBA</button>
    <button type="button" class="platform-button">GC</button>
    <button type="button" class="platform-button">GEN</button>
    <button type="button" class="platform-button">GG</button>
    <button type="button" class="platform-button">PS3</button>
    <button type="button" class="platform-button">PS4</button>
  </div>
  <div class="platform-container">
    <button type="button" class="platform-button">N64</button>
    <button type="button" class="platform-button">NES</button>
    <button type="button" class="platform-button">NG</button>
    <button type="button" class="platform-button">PC</button>
    <button type="button" class="platform-button">PCFX</button>
    <button type="button" class="platform-button">PSP</button>
    <button type="button" class="platform-button">PSV</button>
  </div>
  <div class="platform-container">
    <button type="button" class="platform-button">SAT</button>
    <button type="button" class="platform-button">SCD</button>
    <button type="button" class="platform-button">SNES</button>
    <button type="button" class="platform-button">TG16</button>
    <button type="button" class="platform-button">WS</button>
    <button type="button" class="platform-button">Wii</button>
    <button type="button" class="platform-button">WiiU</button>
  </div>
  <div class="platform-container">
    <button type="button" class="platform-button">X360</button>
    <button type="button" class="platform-button">XB</button>
    <button type="button" class="platform-button">XOne</button>
    <button type="button" class="platform-button">Show All</button>
  </div>
  <script></script>
  {% endblock %}
</main>
